section{
  padding: 2rem;
  background-color: #000230;
  font-size: 1.1rem;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  position: absolute;
  right: 0;
  top: 11%;
  box-shadow: 5px 5px plum;
  border-radius: 10px ;
  margin-inline: 12px;
}
ul {
  list-style: none;
}
li {
  margin: 2px;
  padding: 8px;
}
li:hover {
  transform: scale(1.1);
  background: linear-gradient(to right,  #000290,#000010);
}
