section{
  padding: 2rem;
  background-color: #000230;
  font-size: 1.1rem;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  position: absolute;
  right: 0;
  top: 6.3%;
  box-shadow: 0px 0px 1px 1px plum;
  border-radius: 10px 0px 0px 10px;
}
ul {
  list-style: none;
  width: 100%;
}
li {
  width: 100%;
  margin: 2px;
  padding: 8px;
}
li:hover {
  transform: scale(1.2);
  background: linear-gradient(to right,  #000290,#000230);
}