section {
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
}
h2 {
  background: linear-gradient(to right, mediumvioletred,blue,red);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-size: 1.8rem;
}
h3 {
  text-align: left;
  font-size: 2rem;
  line-height: 5rex;
}