section {
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
}
h2 {
  background: linear-gradient(to right, mediumvioletred, blue, red);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-size: 1.7rem;
}
h3 {
  text-align: center;
  font-size: 1.7rem;
  line-height: 4rex;
}

@media (min-width: 756px){

  h3 {
    font-size: 4rem;
    line-height: 9rex;
  }
  h2{
    font-size: 2.5rem;
  }
}