h3 {
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.1rem;
  text-align: center;
  color: white;
}
.imagens {
  display: grid;
  grid-template: repeat(2,1fr) / repeat(2, 1fr) ;
  gap: 15px;
  background-color: #000013;
  padding: 10px;
}
.icon {
  display: flex;
  align-items: center;
  justify-content: center;
}
.icon:hover {
  transform: scale(1.1);
  background-color: #fff1;
  box-shadow: 4px 4px;
  border-radius: 8px;
}
img {
  height: 100px;
  width: 100px;
}

@media screen and (min-width: 756px){
  .imagens {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: black;
  }
  h3 {
    font-size: 1.7rem;
  }
  .icon:hover {
    border-radius: 9px;
  }
}